
@{
    ViewData["Title"] = "FirstAjax";
}

<h1>FirstAjax</h1>
<input type="text" id="txt1"/>
<button id="btn1" class="btn btn-primary">start</button>
<button id="btn2"  class="btn btn-danger">stop</button>
<div id="div1" class="mt-2 p-2 w-25 border-danger"></div>

@section Scripts
{
<script>
        const btn1=document.querySelector('#btn1')
        const btn2 = document.querySelector('#btn2')

        const div1=document.querySelector('#div1')
        const txt1=document.querySelector('#txt1')
        const xhr= new XMLHttpRequest();

        btn2.addEventListener('click',()=>{
            xhr.abort();
            div1.innerHTML += "已終止執行<br/>"
        })

        btn1.addEventListener('click',()=>{
           

            xhr.open("get",`/api/index?name=${txt1.value}`);
            //xhr.timeout=1000;
            xhr.send();
        })
        
        xhr.addEventListener('loadstart',()=>{
            div1.innerHTML += "開始<br/>";
            btn1.setAttribute('disabled', 'disabled');
            btn1.textContent="loading";
        })
         xhr.addEventListener('loadend',()=>{
            div1.innerHTML += "結束<br/>"
             btn1.removeAttribute('disabled');
            btn1.textContent="start";
            txt1.value="";
        })
        xhr.addEventListener('load',()=>{
            
            const data= xhr.responseText;
            div1.innerHTML+=`<h2>${data}</h2><br/>`;           
        })

        xhr.addEventListener('timeout',()=>{
           div1.innerHTML += "伺服器逾時<br/>"; 
        })
</script>
}