
@{
    ViewData["Title"] = "FormData";
}

<h1>FormData</h1>
<form method="post" name="userForm">
 <div>
<h1>註冊會員</h1>
<br />
<label>姓名</label>
<input type="text" id="name" name="name"/>
<br />
<br />
<label>信箱</label>
<input type="text" name="email" />
<br />
<br />
<label>年齡</label>
<input type="text" name="age" />
<br />
<br />
<input class="form-control" type="file" id="formFile" name="photo">
<br />
<br />
<button type="button" id="btn" class="btn btn-primary mb-3">送出</button>
<br />
<br />
<p id="p"></p>
 </div>
</form>


@section Scripts
{
<script>
        const btn = document.querySelector('#btn');
    const p=document.querySelector('#p');
    btn.addEventListener("click",async(event)=>{
        event.preventDefault();
        const formData = new FormData(document.userForm);
        const response = await fetch("@Url.Content("~/api/Register")",{
        method:"post",
        body:formData
       
        });
        const data = await response.text();
            p.textContent=data;







    //const xhr = new XMLHttpRequest();

    //xhr.addEventListener('load',()=>{
    //            p.textContent = `${xhr.responseText}`;
    //})
    //const formData = new FormData(document.userForm);
    //        xhr.open("POST", "@Url.Content("~/api/Register")");
    //        xhr.send(formData);

    })
</script>
}