
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<div class="row">
<div class="col-3"></div>

<div class="col-9">
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">
</div>
</div>

</div>
@section Scripts{
    <script>
        $('.col-3').load("@Url.Content("~/home/partial")")
        $('#buttonGet').click(function () {
            $.get(`@Url.Content("~/Api/index")`,{"name":"Tom","age":30,"email":"Tom@gmail.com"},function(data){
                $("#divAlert").html(`<h2>${data}</h2>`);
            });        
        })
        $('#buttonPost').click(function () {
            $.post(`@Url.Content("~/Api/index")`, { "name": "Jack", "age": 20, "email": "Jack@gmail.com" }, function (data) {
                $("#divAlert").html(`<h2>${data}</h2>`);
            });        
        })
        $('#buttonJson').click(function () {
            $.getJSON(`@Url.Content("~/api/site")`,{"city":"臺北市"},function(datas){
                const docFrag=$(document.createDocumentFragment());
                $.each(datas,function(index,site){
                    const eleH3=$('<h3></h3>').text(site);
                    docFrag.append(eleH3);
                })
            $("#divAlert").html(docFrag);
            })
        })
        $('#buttonLoad').click(function () {
            $('#divAlert').load("@Url.Content("~/home/partial")")
        })
        $('#buttonAjax').click(function () {
            //$.ajax({
            //    url: `@Url.Content("~/api/site")`,
            //    type:"get",
            //   data: { "city": "臺北市" },
            //    datatype:"json"
            //}).done(()=>{
            //     const docFrag=$(document.createDocumentFragment());
            //    $.each(datas,function(index,site){
            //        const eleH3=$('<h3></h3>').text(site);
            //        docFrag.append(eleH3);
            //})
            
        })
        $('#buttonCors').click(function () {
                $.getJSON('https://localhost:7051/api/Shippers',{},function(datas){
                    console.log(datas);
                })
        })

    </script>
}