@model IEnumerable<AjaxDemo.Models.Member>
@{
    ViewData["Title"] = "Members";
}

<h1>Members</h1>

<ul>
 @foreach(var members in Model)
 {
 <li>@members.Name</li>
 }
</ul>


<script>console.log(@Model)</script>