@model IEnumerable<AjaxHomeWork.Models.Members>
@{
    ViewData["Title"] = "CheckName";
}
@section Styles
{
    <style>
        label{font-size:28px}
    </style>
}


<h1>CheckName</h1>
<br />
<div class="mb-3">
    <label class="form-label">姓名</label>
    <input type="text" class="form-control w-50" id="txtname" /><label id="tipname"></label>
</div>

<div class="mb-3">
    <label class="form-label">信箱</label>
    <input type="email" class="form-control w-50" id="txtemail" /><label id="tipemail"></label>
</div>

<div class="mb-3">
    <label class="form-label">年齡</label>
    <input type="text" class="form-control  w-50" id="txtage" /><label id="tipage"></label>
</div>

<button id="btn" class="btn btn-primary">送出</button>



@section Scripts
{
<script>

    const name = document.querySelector('#txtname');
    const btn = document.querySelector('#btn');
    const tipName = document.querySelector('#tipname');
    const xhr= new XMLHttpRequest();
    
    btn.addEventListener("click",()=>{
       
       xhr.open('POST','/homework/checkname');
       xhr.setRequestHeader('Content-Type',"application/x-www-form-urlencoded");
       xhr.send(`name=${name.value}`);
      
    })

    xhr.addEventListener('load',()=>{
            const data= xhr.responseText;
            tipName.textContent = `${data}`;
    })


</script>
}