
@{
    ViewData["Title"] = "TravelCard";
}
@section Styles
{
    <style>
        .card{background-color:antiquewhite}
        .content{font-size:1.7em}
    </style>
}

<h1 >TravelCard</h1>
<hr />

<h3>搜尋</h3>
<input type="text" id="search" class="w-50" />

<hr /> 
<br />
<div id="card">
    
</div>


@section Scripts
{
    <script src="~/js/travel.js"></script>
    <script>               
        const card = document.querySelector("#card");
        const search=document.querySelector("#search")
        showDatas(DATAS);

        search.addEventListener("keyup",()=>{
            const results=DATAS.filter(data=>data.Name.indexOf(search.value)!==-1);
            showDatas(results);
        })


        function showDatas(_datas)
        {
            const datas=_datas.map(data=>{
                const { Name, Tel, Toldescribe, Website, TYWebsite, Opentime, Ticketinfo, Add, Py, Px } = data;
                return( `
                <div class="card" class="w-75" ">
                     <div class="card-body">
                         <h1 class="card-title">${Name}</h5>
                         <hr/>
                         <h6 class="card-subtitle mb-2 text-muted">${Tel}</h6>
                         <p  class="card-text">營業時間: ${Opentime}</p>
                         <p  class="card-text">地址:  <a href="https://www.google.com/maps/place/${Py},${Px}">${Add}</a></p>
                         <p  class="card-text">門票: ${Ticketinfo}</p>
                         <p  class="card-text content">${Toldescribe}</p>
                         <a  href="${Website}" class="card-link btn btn-info">官方網站</a>
                         <a  href="${TYWebsite}" class="card-link btn btn-success">導覽網站</a>
                      </div>
                 </div>
                 <br/>
                `);
                 })
             card.innerHTML=datas.join("");
        }
    </script>
}